body {
    margin: 0;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

#game_container {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: url("assets/background.png");
    background-size: cover;
}
#score {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
    font-family: "Rubik Mono One", monospace;
}
#start-btn {
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: chartreuse;
    border-color: aliceblue;
    color: azure;
    border-radius: 16px;
    cursor: pointer;
    font-family: "Rubik Mono One", monospace;
}

#bird {
    width: 80px;
    height: 56px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 40%;
    background: url("assets/bird.png") no-repeat center center;
    background-size: cover;
}

.pipe {
    position: absolute;
    width: 60px;
}

.top_pipe {
    background: url("assets/pipe2.png") no-repeat bottom center;
}

.bottom_pipe {
    background: url("assets/pipe.png");
}